
    <span *ngIf="!!address_to_show">
      {{
        address_to_show.slice(0, 5) +
          "..." +
          address_to_show.slice(
            address_to_show.length - 5,
            address_to_show.length
          )
      }}
    </span>
    <button   mat-raised-button color="accent" style="margin: 0 5px 0 5px; transform: scale(0.7);    position: relative;top: -5px;" class="btn btn-light"
      [cdkCopyToClipboard]="address_to_show">
      <i class="material-icons">content_copy</i>
    </button>