<div style="display: flex; justify-content: center">
  <div></div>
</div>

<p style="margin: 10px; border-top: 1px solid grey">
  <!-- <button (click)="startStream()" mat-raised-button color="accent" style="margin: 10px" class="btn_send">
    Start Flow
  </button>
  <button (click)="getFlow()" mat-raised-button color="accent" style="margin: 10px" class="btn_send">
    Get Flow
  </button>
  <button (click)="getAccounFlow()" mat-raised-button color="accent" style="margin: 10px" class="btn_send">
    GetAccount Flow
  </button>
  <br />
  <button (click)="stopStream()" mat-raised-button color="accent" style="margin: 10px" class="btn_send">
    Stop Flow
  </button> -->
</p>
<p>
  <button (click)="stopQuery()" mat-raised-button color="accent" style="margin: 10px" class="btn_send">
    Stop Query
  </button>
</p>
<div class="wrapper_blocks" >

  <div>
    <address-show style="font-size:22px;font-weight:400" [address_to_show]="signerAdress"></address-show>   <i (click)="doFaucet()" style="
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 15px;
    color: #ff4081;
    cursor: pointer;
  " class="material-icons">local_gas_station</i>
 
    <stream-display class="user_block" *ngIf="signerStream !== undefined"  [stream]="signerStream"></stream-display>
  </div>

  <div>
  <stream-display class="user_block" *ngIf="aliceStream !== undefined"  [stream]="aliceStream"></stream-display>
  </div>

  <!-- 
  <div>
    <stream-display class="user_block" *ngIf="eveStream !== undefined"  [stream]="eveStream"></stream-display>
  </div>

  <div>
    <stream-display class="user_block" *ngIf="eveStream !== undefined"  [stream]="eveStream"></stream-display>
  </div> -->


</div>